body {
	background-color:white;

}

.mad {display: inline-block;}

.question {
	size: 20vw;
	display: block;
}


a {cursor: not-allowed;


}

.scale-me { 
	display:inline-block;
	width:35vw;
	padding: 5px;
	margin: 10px;
	border: 1px solid gray;
	text-align: justify;
	vertical-align: top;
	font-size: 2vw;
	background-color: lightgray;
	
}


li {
	
	display: block;
}


h1 {
	text-align: center;
	
	margin: -10px;
	padding: 20px;
	height: 38px;
    vertical-align: bottom;
    font-size: 50px;
    padding-left: 10px;
    line-height: 38px;
    color: white;
    
    background-color: blue;
    
	font-family: 'Open Sans', sans-serif;

	
}

h2 {
	text-align: center;
	background-color: darkgray;
	
}

h3 {
	background-color:#303030;
	margin-top: 0px ;
}

.table {
	background-color:#BC6DD7;
	border: 2px solid white;
	border-right: 0px solid white;
	padding: 10px;
	margin: -2px;
	white-space: nowrap;
	vertical-align: top;
	width: 11vw;
	overflow: hidden;
	


}


.peng {display: inline-block;
	width: 300;
	

		border: 1px solid white;
	
	white-space: nowrap;
	

}

.big {
	overflow: scroll;
}

.About {
	
}

.button {
	border: 1px solid blue;
	background-color: blue;
	color: white;
	
}

#a1 {
	margin-left: 40vw;
}

.button3 {
	border: 1px solid gray;
	background-color: #E6E6E6;
	color: black;
	
	
	

	
}

#c1 {
	margin-left: 0px;
	display: ;
	
}

.image {
	margin-left: 50px;
	margin-top: 30px;
	margin-right: px;

}

.image2 {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: -105px;
	margin-bottom: 0px;
}

